<div class="footer bg-danger text-white ">
  <div class="row">
    <div class="col-md-6">
        <div class="d-flex justify-content-center align-items-center">
          <h6 class="p-0 me-1 ">created by Mohamed Gamal-Eldin</h6>
          <img src="../../../assets/image2.jpg" alt="">
        </div>
        <div class=" d-flex justify-content-center align-items-center mb-2">
          <i class="fa-brands fa-whatsapp me-1"></i>
          <p class="p-0 m-0">01207114717</p>
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <ul class="social list-unstyled d-flex p-0 m-0">
        <li class="bg-primary">
          <a href="https://www.facebook.com/mohamed.Gamal.3531" class="p-1 text-white">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </li>
        <li class="bg-dark mx-2">
          <a href="https://www.linkedin.com/in/mohamed-gamal-elddin-812193210/" class="p-1 text-white">
            <i class="fa-brands fa-linkedin bg-secondary"></i>
          </a>
        </li>
        <li class="bg-secondary">
          <a href="https://github.com/MohamedGamal-Elddin?tab=projects" class="p-1 text-white">
            <i class="fa-brands fa-github"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
